.MuiSlider-markLabel {
    min-width: 40px;
    text-align: center;
    /* width: unset;
    width: 80px;
    margin-top: 10px;
    border: 1px black solid;
    padding: 5px;
    border-radius: 10px;
    background-color: teal;
    color: white !important; */
}

.MuiSlider-markLabel {
    width: auto;
}

